
<div class="homePage">
  <img class="coverPic" src="<%= asset_path( 'refugees1.jpg' ) %>" />
  <img class="logoPic" src="<%= asset_path( 'CA-logo2.png' ) %>" />
</div>

<div class="tagline"></div>
<div class="tag">"Join us in our fight for humanity."</div>

<div class="sectionLine"><div>
<div class="section">
  <div class="liveFeed">
    <h1 class="smsHeader">H E A R  ·  U S</h1>
    <div class="texts"
    <%= render './messages/reply' %>
    </div>
  </div>

  <div class="aboutSection">
    <h1> Our Mission </h1>
    <p class="mission">Collective Action(CA) works around the world to protect refugees who have been forced to flee their homelands because of who they are, including ethnic, religious, and sexual minorities. CA's mission is to help refugees rebuild their lives in safety and dignity.</p>


    <h2> What We Do </h2>
    <p>
    Collective Action: <br>
    <span class="gray">Advocates for widespread policy changes</span> within agencies, organizations, and governing bodies to benefit the greatest possible number of vulnerable refugees.<br>
    <span class="gray">Forms and participates in strategic coalitions</span> with other refugee rights advocacy organizations, human rights groups, legal aid centers, non-governmental organizations,  and faith-based organizations to increase awareness or collaborations to further certain agendas in the protection of vulnerable refugees.<br>
    <span class="gray">Provides a resource database for refugees themselves</span> to assist them from the time they leave home, until they are safely resettled in supportive communities.
  </p>
        <%= link_to 'View our Announcements and Events here', controller: 'posts' %>
  </div>
</div>
