<img class="coverPic" src="<%= asset_path( 'refugees1.jpeg' ) %>" />
<h4 class = "section"> Collective Action </h4>
<%= link_to 'View our Announcements and Events here(posts)', controller: 'posts' %>
<p>Write an about section here ...mission statement..etc. (homepage.html.erb)</p>
