<h1> Contact Us</h1>
<div class="contacts">
  <div class="contact1">
    <img src="http://placehold.it/180x180">
    <div>Madina Olomi</div>
    <div>Founder</div>
  </div>
  <div class="contact2">
    <img src="http://placehold.it/180x180">
    <div>Diana B. Gobar</div>
  </div>
</div>
