body{
  color: #646464;
  background: white;
  margin: auto;
  /*border-bottom: 40px solid #333;*/

}
p{
  font-family: 'Lato', sans-serif;

}
h1, h2{
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
  border-bottom: 1px solid yellow;
  color: black;

}
/*_____NAVBAR_________*/
.logo{
  width: 50px;
  height: 40px;
  margin: 0;
}
.navbar{
  display: flex;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  /*font-family: 'Lato', sans-serif;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.myMenu li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.userLinks li{
  float: right;
}

/*______Home Page________*/
.logoPic{
  width: 130px;
  height: 120px;
  position: relative;
  left: -150px;
  top: 410px;
}
.tagline{
  position: relative;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  padding: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*display: inline;*/
  position: relative;
  left: 200px;
  top: -90px;
  color: white;
  z-index: 99;
  font-size: 30px;
    text-shadow: 2px 2px 8px #4C0A6E;
  margin: 0 auto;
  padding: 0 auto;

}

.tagline:after {
  content: '';
  position: absolute;
  width: 1100%; height: 1100%;;
  top: 20px; right: -500%;
  background: rgba(0,0,0,0.5);
  transform-origin: 54% 0;
  transform: rotate(45deg);
  z-index: -1;
}
.tag{
  position: relative;
  top: -136px;
  z-index: 100;
  font-size: 30px;
  color: white;
  left: 550px;
  text-shadow: 2px 2px 8px #4C0A6E;
    font-family: 'Roboto', sans-serif;
}
.coverPic{
  object-fit: cover;
  display: flex;
  width: 100%;
  height: 550px;
  z-index: -1;
}
.sectionLine{

  width: 100%;
  position: relative;
  top: -40px;
}
.homePage{
  display: flex;

}
.section{
  display: flex;
  /*border: solid blue 1px;*/
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40px;
  margin-top: 0 auto;
}
.liveFeed{
  width: 30%;
  height: 550px;
  border: solid #333 2px;
}
.aboutSection{
  width: 70%;
  height: 100%;
  padding: 0 10px 10px 10px;
  padding-left: 30px;
}
.aboutSection h1{
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  padding: 0 auto;

}
.aboutSection h2{
    text-decoration: underline;
}
.aboutSection a{
  font-family: 'Roboto', sans-serif;

}
.mission{
  font-weight: bolder;
  font-size: 25px;
  color: black;

}
.gray{
  font-weight: bolder;
  color: black;
}
/*_____FOOTER______*/
.contactLinks {

}
.footer {
  background-color:#333;
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 0;
  text-align: center;

}
.footer a{
  padding-top: 20px;
  text-decoration: none;
  color: white;
  border-bottom: none;
  font-family: 'Nunito Sans', sans-serif;
}

/*____SMS Section______*/
.smsHeader{
  /*background-color: gray;*/
  background-color: #333;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  color: #E0E1E0;
}
.texts{
  overflow: scroll;
  height: 500px;
}
.smsSeperate{
  border-bottom: 1px gray dotted;
}
.smsBubble{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: #CAE5F7;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
}
/*_____DONATE PAGE ______*/
.donate{
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
}
.donateSection{
  width: 50%;
}
.payPal{
  border: 1px dotted gray;
  width: 50%;
  height: 500px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:700);
@track-color: #ffffff;
@thumb-color: #e1e1e1;

@thumb-radius: 5px;
@thumb-height: 30px;
@thumb-width: 20px;

@thumb-border-width: 1px;
@thumb-border-color: #d6d6d6;

@track-width: 100%;
@track-height: 20px;

@track-border-width: 1px;
@track-border-color: #e6e6e6;

@track-radius: 0px;
@contrast: 5%;
html,body{
  height: 100%;
  width: 100%;
}
html,
button,
input,
select,
textarea {
	color: #5e5e5e;
	-webkit-font-smoothing: antialiased;
}
body {
	background-color: #f0f1f1;
	font: 14px/24px Lato, Helvetica, Helvetica Neue, Arial;
	line-height: 1.4;
}
#page{
width: 275px;
margin: 20px auto;
}
.progress-bar{
	display: inline-block;
	width: 275px;
	height: 275px;
	margin: 7px;
	padding: 0;
}
.progress-bar .progress-active{
	position: relative;
	top: -279px;
}
.progress-bar p{
	position: relative;
	margin: 0;
	padding: 0;
	width: 275px;
	top: -460px;
	font-size: 54px;
	font-weight: 900;
	text-align: center;
}
#progressControllerContainer{
  position: absolute;
  top: 320px;
  padding: 10px 80px;
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track();
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}
/*______CONTACT PAGE_____*/

.contacts{
  margin-left: 35%;
  display: flex;
  /*border: 1px dotted gray;*/
  width: 400px;
  height: 300px;
  justify-content: center;
  text-align: center;
}
.contacts img{
  border-radius: 50%;
}
.contact1{
padding: 20px;
}
.contact2{
  padding: 20px;
}
/*____Announcements Page_____*/
.postTitle strong{
  color: red;
}

/*____DEVISE PAGES_____*/
.sign_up{
  margin-left: 40%;
}
.sign_up input{
  width: 200px;
}
.sign_up h2{
  position: relative;
  right: -60px;
}

.sign_in{
  margin-left: 43%;
}
.sign_in h2{
  position: relative;
  right: -30px;
}
